MQTT_BROKER=localhost
MQTT_PORT=8883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=easy-shm/2

WEATHER_LATITUDE=38.8951
WEATHER_LONGITUDE=-77.0364
WEATHER_FETCH_INTERVAL=60

DRIFT=1.0

MQTT_SUBSCRIBE=easy-shm/+

TAOS_URL=http://localhost:6041
TAOS_USER=root
TAOS_PASSWORD=taosdata
TAOS_DB=origin_data
